/* src/components/pokemonDetail/PokemonTypeEffectiveness.css */

.type-effectiveness-section h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color:#34495e;
  font-family: 'press start 2p';
  font-size: 0.8em;
  text-transform: uppercase;
}

.type-effectiveness-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.effectiveness-category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.effectiveness-category strong {
  font-size: 1em;
  color: #004793;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
}

.effectiveness-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.type-badge {
  padding: 3px 5px;
  border-radius: 6px;
  color: white;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.491);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 2px;
  font-family: monospace;
}